<h1> Sign up here </h>


{% for message in messages %}
<h4 style= "color: red;"> 
    {{message}}
</h4>
{% endfor %}

            
<form method="POST" action="register"> 
  {% csrf_token %}            
  <p>Username: </p>
  <input type= "username" name="username" /> 
  <p>Email: </p>
  <input type= "email" name="email" /> 
  <p>Password: </p>
  <input type= "password" name="password" /> 
  <p>Password2: </p>
  <input type= "password" name="password_confirmation" /><br>
  <input type= "submit" />
</form>

                  

